* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(25, 24, 24);
}

.titulo-empresa {
    font-size: 30px;
    font-weight: 600;
    margin-left: 5%;
    margin-bottom: 20px;
}